/* PHONE */

.container {
    font-family: 'Poppins', sans-serif;
    font-size: 15px; 
    color: hsl(229, 6%, 66%);
}

.title {
    text-align: center; 
    padding: 0 90px;
}

.dark {
    color: hsl(234, 12%, 34%);
    font-weight: bold;
}

.card {
    position: relative;
    width: 350px;
    height: 250px;
    border: solid;
    margin: 35px auto;
    border-radius: 8px;
    border-top: 4px solid hsl(180, 62%, 55%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #FFF;
}

.card:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
  }
  

.cyan {
    border-top-color: hsl(180, 62%, 55%);
}

.red {
    border-top-color: hsl(0, 78%, 62%);
}

.orange {
    border-top-color: hsl(34, 97%, 64%);
}

.blue {
    border-top-color:hsl(212, 86%, 64%);
}

.text {
    padding: 0 35px;
    margin-bottom: 35px;
}

img {
    position: absolute;
    right: 20px;    
    bottom: 20px;
}




/* DESKTOP */

@media (min-width: 800px) {

    .container {
        position: relative;
        width: 1300px;
        height: 800px;
        margin: 100px auto;
    }

    .title {
        padding: 0 30%;
    }

    .card {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .cyan {
        top: 50%;
        left: 20%;
        
    }

    .red {
        top: 35%;
        left: 50%;
    }

    .orange {
        top: 70%;
        left: 50%;
    }

    .blue {
        top: 50%;
        right: 20%;
    }

}